.MainDivGigs {
	background-color: rgba(237, 234, 234, 0.674);
	height: 900px;
	width: 100%;
}

.FrstDGig {
	padding: 0px;
	margin: 0px;
}

.FrstDGig p {
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	color: white;
	text-shadow: 3px 3px 3px rgb(61, 61, 61);
	background-color: gainsboro;
}

.ScndDGig {
	background-color: white;
	padding: 0px 0px;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
}

.FstInnScnDGig {
	display: flex;
}

.FstinnSDGig1,
.FstinnSDGig2,
.FstinnSDGig3,
.FstinnSDGig4,
.FstinnSDGig5,
.FstinnSDGig6 {
	padding: 15px 20px;
}

.FstinnSDGig1Act,
.FstinnSDGig2Act,
.FstinnSDGig3Act,
.FstinnSDGig4Act,
.FstinnSDGig5Act,
.FstinnSDGig6Act {
	padding: 15px 20px;
	background-color: rgba(237, 234, 234, 0.674);
}

.FstinnSDGig1:hover,
.FstinnSDGig2:hover,
.FstinnSDGig3:hover,
.FstinnSDGig4:hover,
.FstinnSDGig5:hover,
.FstinnSDGig6:hover {
	box-shadow: 1px 1px 15px rgba(144, 144, 144, 0.801);
}

.ScndInnScnDGig button{
    padding: 10px 15px;
    background-color: #cc0088;
    border: 1.5px solid #6d0149;
}

.ScndInnScnDGig button:hover{
    background-color: white;
    color: #cc0088;
}