* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav1ForDash {
  width: 100%;
  padding-right: 117px;
  padding-left: 117px;
  padding-top: 30px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 3px 3px 3px rgb(50, 50, 50);
}

.nav-item-dash a > b {
  color: black;
  vertical-align: middle;
}

.nav-item-dash-btn button {
  color: black;
  vertical-align: middle;
  border: none;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;
}

.searchbtn {
  color: white !important;
}

.headerForDash {
  /* position: fixed; */
  z-index: 100;
  width: 100%;
}

.joinbtn {
  border: 3px solid green;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: green;
}
.joinbtn:hover {
  background-color: green;
  color: black;
}
.drop {
  width: 500px;
}

.dropdownli {
  padding: 0;
  margin: 0;
}

.dropdown-a {
  padding: 0;
  margin: 0;
}

.dropdown-p {
  padding-left: 15px;
}

.tickmark {
  height: 5px;
  width: 5px;
  color: black;
  top: 0;
  left: 0;
  display: block;
}

.dropdown {
  padding: 0;
}

.scroll {
  height: 200px;
  overflow-y: scroll;
}

.setlogo {
  height: 38px;
  width: 50px;
}

.right {
  margin-right: auto;
}

body a.lh {
  line-height: 0px;
}

/* Message component css */
.msg-cat {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid rgb(180, 176, 176);
}

.msg-comp {
  border: 1px solid gray;
  padding: 0px;
  position: absolute;
  top: 70px;
  left: 550px;
  background: white;
  z-index: 100;
}

.msg-cat button {
  width: 200px;
  border-bottom: none;
  border-top: none;
  padding: 10px;
  font-weight: 500;
}

.msg-cat button:hover {
  color: green;
  fill: green;
}

.msg-cat svg {
  margin-right: 5px;
}

.msg-empty p.no-noti {
  font-size: larger;
  text-align: center;
}

.content {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.msg-empty {
  width: 400px;
}

.msg-empty p.no-noti::before {
  content: "";
  background: url(https://npm-assets.fiverrcdn.com/assets/@fiverr-private/header/icn-empty-state.7bb20a3.svg)
    no-repeat;
  height: 55px;
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.noti {
  border-right: 1px solid rgb(180, 176, 176);
  border-left: none;
}

.inbox {
  border-right: none;
  border-left: none;
}

.msg-footer {
  border-top: 1px solid rgb(180, 176, 176);
  background: #f0f0f0;
  height: 40px;
}

.footer-icons svg {
  margin: 5px 7px;
}

.inbox-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msgs-display {
  height: 70vh;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow-y: scroll;
}

.back-click {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
