* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.order-body {
  background-color: #f5f5f4;
  padding-bottom: 20px;
  height: 200vh;
}

.order-display {
  display: flex;
  justify-content: space-between;
}

.order-title {
  font-size: 55px;
  margin: 30px 20px;
  font-weight: lighter;
}

.searchbar {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.searchbar input {
  background: transparent;
  width: 170px;
  margin-right: 5px;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid gray;
}

.searchbar form {
  display: flex;
}

.order-searchbtn {
  border: none;
  background: transparent;
}

.order-searchbtn svg {
  color: gray;
}

.order-searchbtn svg:hover {
  color: green;
}

.subnav-list {
  display: flex;
  list-style: none;
}

ul.subnav-list li {
  margin-left: 10px;
  margin-right: 10px;
}

ul.subnav-list li button {
  border: none;
  background: transparent;
  text-align: center;
}
