.RewSlider {
  padding-top: 45px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: rgba(5, 2, 22, 0.356); */
}

.jRFJkP:hover:enabled,
.jRFJkP:focus:enabled {
  color: rgb(31, 30, 30) !important;
  background-color: rgb(241, 240, 243) !important;
  box-shadow: 0 0 2px 0 #333;
}

.jRFJkP:focus {
  color: rgb(31, 30, 30);
  background-color: rgb(241, 240, 243) !important;
  box-shadow: 0 0 2px 0 #333;
}

.jRFJkP {
  color: rgb(31, 30, 30);
  background-color: rgb(241, 240, 243) !important;
  box-shadow: 0 0 2px 0 #333;
}

.hrffZJ {
  background-color: transparent;
}

.rec-dot {
  display: none;
}

.rec-arrow-left {
  margin-left: 15px;
}

.rec-arrow-right {
  margin-right: 15px;
}

.subdiv-flex {
  display: flex;
}

.desc-comp h2 {
  text-align: center;
  vertical-align: middle;
}

.desc-comp {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
