.sub-block {
  height: 20rem;
  width: 255px;
  border-radius: 7px;
  color: white;
  padding: 1rem;
  margin-left: 3.6rem !important;
  margin-right: 0 !important;
}

.main-slider {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.slickk-arrow {
  color: black;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
}

.slick-next {
  z-index: 100;
  right: 20px !important;
}

.slick-prev:before,
.slick-next:before {
  /* font-family: 'slick'; */
  font-size: 40px;
  line-height: 1;
  opacity: 1;
  color: black;
}

.sb-1 {
  background-image: url("./Images/sb1.jpg");
  background-position: center;
}
.sb-2 {
  background-image: url("./Images/sb2.jpg");
  background-position: center;
}
.sb-3 {
  background-image: url("./Images/sb3.jpg");
  background-position: center;
}
.sb-4 {
  background-image: url("./Images/sb4.jfif");
  background-position: center;
}
.sb-5 {
  background-image: url("./Images/sb5.png");
  background-position: center;
}