.mainDivTWC6 {
	margin-top: 30px;
	margin-bottom: 15px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.frstDivTWC6 p {
	background-image: linear-gradient(to right, rgb(211, 208, 208), white);
	box-shadow: 2px 2px rgb(216, 215, 215);
	width: 300px;
	margin: 0 auto;
    color: #a3036e;
    text-align: center;
}

.scndDivTWC6 p {
    margin-top: 10px;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

.thrdDivTWC6 p {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 600;
	color: gray;
}

.frthDivTWC6 {
	margin: 40px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 87%;
}

.D1FrthDTWC6,
.D2FrthDTWC6,
.D3FrthDTWC6,
.D4FrthDTWC6 {
	padding: 15px;
	border: 3.5px solid rgb(68, 68, 68);
	box-shadow: 0px 0px 15px rgb(103, 103, 103);
}

.innerDTWC6{
    display: flex;
    margin: 10px 0;
}

.innerDTWC6 img{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.innerDTWC6 p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(104, 103, 103);
}