.WS-MainSubNav {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  z-index: 1;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
